<!-- hello.html hérite de la base.html -->
{% extends 'listings/base.html' %}

{% block content %}

<h1>Liste des groupes</h1>

<!-- Lien -->
<a href="{% url 'band-create' %}">Créer un nouveau groupe</a>

<p>J'ai {{ bands|length }} groupes préférés.</p>
<!-- Afficher tous les informations du groupes -->
<table>
    <thead>
        <th>Nom</th>
        <th>Genre</th>
        <th>Biographie</th>
        <th>Année de formation</th>
        <th>Staut</th>
        <th>Page officiel</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for band in bands %}
          <tr>
            <td>{{ band.name|upper }}</td>
            <td>{{ band.genre }}</td>
            <td>{{ band.biography }}</td>
            <td>{{ band.year_formed }}</td>
            <td>{{ band.active }}</td>
            <td>{{ band.offials_homepage }}</td>
            <td>
                <a href="{% url 'band-detail' band.id %}">Voir</a> <!--faire le lien et rélier les deux modele-->
                <a href="{% url 'band-update' band.id %}">[Modifier]</a> <!-- lien pour modifier -->
                <a href="{% url 'band-delete' band.id %}">[Supprimer]</a> <!-- lien pour supprimer -->
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>    
{% endblock %}